#labelWrapper{
    font-family: Goldman,cursive;
    position: absolute;
    width: 20%;
    height: 10%;
    top: 40%;
    left: 10%;
    float: left;
    transition: 0.7s ease-out;
    z-index: 1;
    overflow: hidden;
}


#side_refresh_lbl{
    position: absolute;
    width:50px;
    height: 50px;
    border:1px solid red;
}
.label{
    position: relative;
    width: 400px;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 5px white, 5px 4px 2px black;
    transition: 1.9s ease-out;
}

#radical{
    font-size: 80px;
    left: 95%;
}

#performance{
    font-size: 30px;
    margin-top: 5%;
    left: -90%;
    transition: 2s linear;
}

label{
    top: 20%;
    height: 60%;
    position: absolute;
    display: block;
    color: #00ffae;
    transition: 2.3s ease-out;
    font-size: 40px;
    text-shadow: 0 0 4px #00ffae, 3px -4px 2px black
}

#loginLabel{
    width: 45%;
}

#passwordLabel{
    width: 50%;
}

#loginInputBox{
    position: relative;
    width: 0px;
    height: 60px;
    display: block;
    transition: 3.3s ease-in;
    overflow: hidden;
}

#passwordInputBox{
    position: relative;
    width: 0px;
    height: 60px;
    display: block;
    transition: 3s ease-in;
    overflow: hidden;

}

#loginInput{
    position: relative;
    width: 400px;
    height:  50px;
    float: left;
    left: 45%;
    color: #00ffae;
    font-size: 40px;
    text-shadow: 0 0 4px #00ffae, 3px -4px 2px black;
}

#passwordInput{
    position: relative;
    float: left;
    width: 300px;
    height:  50px;
    color: #00ffae;
    font-size: 40px;
    overflow: hidden;
    text-shadow:0 0 4px #00ffae, 3px -4px 2px black;
}

#secondPane{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.lbl{
    position: absolute;
    width:50px;
    height: 50px;
    border: red;
}

#bgPane{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("resources/content/img/21.jpg"); background-size: cover;
    transition: 2s ease-out;
}
#light{
    position: absolute;
    height: 500px;
    width: 300px;
    top:20%;
    left: 80%;
}
input{
    height: 30px;
    top: 21%;
    left: 53%;
    position: absolute;
    border: none;
    font-weight: bolder;
    background: none;
    font-family: 'Goldman',cursive;
    outline: none;
    font-size: 30px;
    color: #00fff5;
}