#regForm{
    position: absolute;
    width: 350px;
    height: 400px;
    left: 60%;
    top:35%;
    color:#00ffae;
    overflow: hidden;
}

.data{
    left: 40%;
}

#nickLbl{
    font-size: 30px;
    top: 23%;
}

#regLogin{
    position: relative;
    width: 70%;
    height: 50px;
    display: block;
}
#regPwd{
    position: relative;
    width: 70%;
    height: 50px;
    display: block;
}

#regEmail{
    display: block;
    position: relative;
    width: 70%;
    height: 50px;
}

#regNickname{
    display: block;
    position: relative;
    width: 70%;
    height: 50px;
}
.regLbl{
    position: relative;
    display: block;

    height: 0%;
}

