

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>homeFilter</filter-name>
    <filter-class>com.radical.iqube.controller.filters.HomeFilter</filter-class>
  </filter>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.radical.iqube.controller.servlets.HomePageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>auth</servlet-name>
    <servlet-class>com.radical.iqube.controller.servlets.AuthServlet</servlet-class>
  </servlet>



  <filter-mapping>
    <filter-name>homeFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages requiring HTTPS</web-resource-name>
      <url-pattern>/auth</url-pattern>
      <url-pattern>/registration</url-pattern>
      <url-pattern>/userPage</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
