<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>homeFilter</filter-name>
    <filter-class>com.radical.iqube.controller.filters.HomeFilter</filter-class>
  </filter>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.radical.iqube.controller.servlets.HomePageServlet</servlet-class>
  </servlet>

  <filter-mapping>
    <filter-name>homeFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/iqubedb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
